@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@altered-internal/interfaces/shadcn/styles/tokens.css";

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
